{% extends 'layout.html' %}
{% block about %}

            <!-- Page Banner start -->
            <section class="page-start-banner">
                <div class="container">
                    <h2 class="title">About Us</h2>
                </div>
            </section>
            <!-- Page Banner End -->

            <!-- About Area Start  -->
            <section class="about pt-96 pb-48">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="block">
                                <h3>Welcome to Violet</h3>
                                <p>At Violet, we believe that beauty is an art form, and we are dedicated to helping you express your unique style and enhance your natural beauty. Our mission is to provide you with a captivating collection of high-quality cosmetics that inspire confidence.</p>
                                <p>We understand that every individual is unique, and that's why we offer a diverse range of premium beauty products that cater to different skin tones, types, and preferences. From richly pigmented eyeshadows to velvety lipsticks and flawless foundations, our carefully curated selection ensures there's something for everyone.</p>
                            </div>
                            <div class="block">
                                <h3>Our Philosophy</h3>
                                <p>At Violet, we believe that every pair of shoes tells a unique story. We understand the importance of individual style and the impact that well-crafted footwear can have on your overall look and confidence. That's why we strive to create shoes that not only look exceptional but also provide comfortable and enjoyable wearing experience.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="{{url_for('static', filename='assets/media/about/about-1.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Area End  -->

            <!-- About Area Start  -->
            <section class="chose-us pt-48 pb-48">
                <div class="container">
                    <div class="heading">
                        <h2>Why Chose Us?</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="chose-block">
                                <img src="{{url_for('static', filename='assets/media/icon/quality.png')}}" alt="">
                                <h6>High Quality</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="chose-block">
                                <img src="{{url_for('static', filename='assets/media/icon/organic.png')}}" alt="">
                                <h6>Pesticide Free</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="chose-block">
                                <img src="{{url_for('static', filename='assets/media/icon/food.png')}}" alt="">
                                <h6>Curated Products</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="chose-block">
                                <img src="{{url_for('static', filename='assets/media/icon/brand.png')}}" alt="">
                                <h6>All Brands</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Area End  -->

            <!-- testimonials Area start -->
            <section class="testimonials pt-48 pb-48">
                <div class="container">
                    <div class="heading">
                        <h2>User’s Reviews</h2>
                    </div>
                    <div class="reviewSlider">
                        <div class="review-box">
                            <div class="border-box">
                                <div class="review">
                                    <h6>Morai Hex</h6>
                                    <p>The eyeshadow palette from Violet is a game-changer! The pigmentation is incredible and the shades are so versatile. I can create endless looks with just one palette. Definitely a must-have!</p>
                                </div>
                            </div>
                        </div>    
                        <div class="review-box">
                            <div class="border-box">
                                <div class="review">
                                    <h6>Crispy Calamari</h6>
                                    <p>The eyeshadow palette from Violet is a game-changer! The pigmentation is incredible and the shades are so versatile. I can create endless looks with just one palette. Definitely a must-have!</p>
                                </div>
                            </div>
                        </div>    
                        <div class="review-box">
                            <div class="border-box">
                                <div class="review">
                                    <h6>Morai Hex</h6>
                                    <p>The eyeshadow palette from Violet is a game-changer! The pigmentation is incredible and the shades are so versatile. I can create endless looks with just one palette. Definitely a must-have!</p>
                                </div>
                            </div>
                        </div>    
                        <div class="review-box">
                            <div class="border-box">
                                <div class="review">
                                    <h6>Calamari Hex</h6>
                                    <p>The eyeshadow palette from Violet is a game-changer! The pigmentation is incredible and the shades are so versatile. I can create endless looks with just one palette. Definitely a must-have!</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </section>
            <!-- testimonials Area end -->

            <!-- footer Area start -->
            <footer class="footer">
                <div class="container">
                    
                    <div class="bottom-content">
                        <div class="row">
                            <div class="col-xl-9">
                                <h5 class="title">Contact Info</h5>
                                <div class="contact-row">
                                    <ul class="contact-list list-unstyled">
                                        <li><a href="tel:123456789"><i class="fal fa-phone-alt"></i>+1 233 898 0897</a></li>
                                        <li><a href="mailto:info@gmail.com"><i class="fal fa-envelope"></i>email@example.com</a></li>
                                        <li><span> <i class="fal fa-map-marker-alt"></i>123 Main Street, Anytown, USA.</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <h5 class="title">Social Links</h5>
                                <div class="contact-row">
                                    <ul class="footer-social-icon list-unstyled">
                                        <li><a href="#"><img src="{{url_for('static', filename='assets/media/icon/icon.png')}}" alt=""></a></li>
                                        <li><a href="#"><img src="{{url_for('static', filename='assets/media/icon/Vector.png')}}" alt=""></a></li>
                                        <li><a href="#"><img src="{{url_for('static', filename='assets/media/icon/Vector-1.png')}}" alt=""></a></li>
                                        <li><a href="#"><img src="{{url_for('static', filename='assets/media/icon/Vector-2.png')}}" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <p class="copyright">©2024 All rights are reserved by Infinity</p> 
                    </div>
                </div>
            </footer>
            <!-- footer Area end -->
           
{% endblock about %}