{% extends 'layout.html' %}
{% block index %}

            <!-- banner Area start -->
            <section class="banner">
                <div class="content">
                    <div class="container">
                        <h2 class="title">LUXURIOUS BEAUTY</h2>
                        <h5>Find Your Perfect Cosmetics Here</h5>
                        <p class="description">Indulge into the world of luxurious beauty and<br> discover a curated collection of exquisite<br> cosmetics. At Violet, we believe that beauty is<br> an art, and we offer a wide range of high-<br>quality products to enhance your natural glow.</p>
                        <a href="{{url_for('shop')}}" class="cus-btn dark">Explore Products</a>
                    </div>
                </div>
            </section>
            <!-- banner Area end -->

              <!-- Inner Banner Area start -->
              <section class="inner-banner">
                <div class="container">
                    <div class="content">
                        <h2>10 <span>%OFF</span></h2>  
                        <h5>ON SUNBLOCK</h5>
                    </div>
                </div>
            </section>
            <!-- Inner Banner Area end -->

           
            

{% endblock index %}    